<div class="container-lg" >
  <h1>Heroe's list</h1>

 <div class="container">
  <div class="row justify-content-center">
   <div class="col-sm-8 my-3">
      <%= form_with url: heros_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

        <% @heros.each do |hero| %>
          <%= image_tag(hero.image_url, class: "card-img-top hero-image", alt: hero.name) %>
          <div class="card-body">
            <h5 class="card-title"><%= hero.name %></h5>
            <p class="card-text"><strong>Power :</strong> <%= hero.power %></p>
            <%= link_to "Know more", hero_path(hero), class: "btn btn-primary" %>
          </div>
        <% end %>

  </div>
</div>
