<div class="container">
  <div class="row"></div>
    <div class="col"></div>
    <div class="card shadow-sm">
      <%= cl_image_tag(@hero.photo.key, class: "card-img-top hero-image", alt: @hero.name) %>
    <div class="card-body">
        <h5 class="card-title"><%= @hero.name %></h5>
          <p class="card-text"><strong>Power :</strong> <%= @hero.power %></p>
            <p class="card-text"> Description: <%= @hero.description %></p>
    </div>
    </div>

    <div data-controller="toggle" class="mt-5">
     <button class="btn btn-primary" data-action="click->toggle#fire"> Do you want to rent ? </button>

    <div data-toggle-target="togglableElement" class="d-none">
     <%= simple_form_for [@hero, @booking] do |f| %>
      <%= f.input :start_date,  as: :string,
            input_html: { data: { controller: "datepicker" } }%>
      <%= f.input :end_date,  as: :string,
            input_html: { data: { controller: "datepicker" } } %>
      <%= f.button :submit, "Book a SuperHero", class: "btn btn-primary"%>
    <% end %>
    </div>
    </div>
     <button class="btn btn-primary mt-5">
      <%= link_to "Go to SuperHero list", heros_path, class: "text-decoration-none text-white" %>
     </button>

    </div>
  </div>
</div>
